@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-main {

        @apply min-h-screen w-full flex flex-col items-center justify-center p-6;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('../assets/icons/imag/Beach.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

body {
    background-color: #1f2937 !important;
    overflow-x: hidden; 
    overflow-y: auto; 
}


.brisa-efecto {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.05), transparent);
    z-index: -1; /* Detrás de la tarjeta */
    pointer-events: none;
    animation: moverBrisa 10s linear infinite;
}

@keyframes moverBrisa {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
}
    header {
        /* Centra el buscador y NIMBUS */
        @apply w-full flex flex-col items-center justify-center mb-10;
    }

    .card-weather-main {

        @apply w-full max-w-md bg-white/10 backdrop-blur-xl border border-white/20 
               rounded-[3rem] p-10 flex flex-col items-center justify-center shadow-2xl text-white;
    }

    .search-input {
        @apply w-64 p-4 rounded-2xl bg-white/10 border border-white/20 
               backdrop-blur-md outline-none text-white placeholder-white/50 
               focus:ring-2 focus:ring-blue-400/50 transition-all;
    }

    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-600 px-6 py-4 rounded-2xl font-bold 
               transition-all text-white active:scale-95;
    }
}
.forecast-card {
    @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl p-4 min-w-[100px] flex flex-col items-center text-white;
}

.forecast-row::-webkit-scrollbar {
    display: none;
}
.forecast-row {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.contenedor-horas {
    display: flex;
    flex-wrap: wrap; /* Esto hará que bajen a la siguiente línea si no caben */
    justify-content: center;
}