@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-main {
        /* min-h-screen obliga a que el fondo ocupe TODA la pantalla */
        @apply min-h-screen w-full flex flex-col items-center justify-center p-6;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('../assets/icons/imag/Beach.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
body {
    font-family: 'Poppins', sans-serif;
}
    header {
        /* Centra el buscador y NIMBUS */
        @apply w-full flex flex-col items-center justify-center mb-10;
    }

    .card-weather-main {
        /* Centra el texto de Madrid y el clima */
        @apply w-full max-w-md bg-white/10 backdrop-blur-xl border border-white/20 
               rounded-[3rem] p-10 flex flex-col items-center justify-center shadow-2xl text-white;
    }

    .search-input {
        @apply w-64 p-4 rounded-2xl bg-white/10 border border-white/20 
               backdrop-blur-md outline-none text-white placeholder-white/50 
               focus:ring-2 focus:ring-blue-400/50 transition-all;
    }

    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-600 px-6 py-4 rounded-2xl font-bold 
               transition-all text-white active:scale-95;
    }
}